@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face { 
    font-family:'Android';
    src: url(../fontes/idroid.otf)format('opentype');
    font-weight: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
:root {
    --cor01:#c5ebd6;
    --cor02:#83e1ad;
    --cor03:#3ddc84;
    --cor04:#2fa866;
    --cor05:#1a5c37;
    --cor06:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'Android', cursive; 
}
body{
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\00a0\1f517';
}
header{
    background-image: linear-gradient(to bottom, var(--cor04),var(--cor06));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color:white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight:normal ;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);

}
header > p{
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    margin: auto;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
nav{
    background-color:var(--cor06);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.19);
}
nav >a {
    color: var(--cor01);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor04);
    color: var(--cor06);
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.419);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1 {
    color: var(--cor06);
    font-family:var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor05);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor02),transparent);
    text-indent: 8px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    color: var(--cor05);
    font-weight: bold;
    
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor06);
    background-color: var(--cor02);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor05);
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--cor06);
    margin: 0px -10px 30px -10px;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 58%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
aside{
    background-color: var(--cor02);padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.286);
}
aside h3{
    background-color: var(--cor05);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type:'\2714\00a0\00a0';
    list-style-position:inside;
    columns: 2;
}

footer{
    background-color:var(--cor06);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color:white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor02);
}